<div class="container">
<script>
$(function(){
  $('#myCarousel').carousel();
});
</script>
  <div class='carouselWrap'>
    <div class='textWrap'>
    <h1>Lugnut Parts</h1>
        <h2>DIY repair for the non-car geek</h2>
        <p>Thank you for visiting Lugnuts Parts. Family owned since 1968, specializing in do-it-yourself parts, tutorials and assistance.</p>
        <p>Please take a moment to like us on <strong><u>Facebook</u></strong> and join us on <strong><u>Twitter</u></strong> for current sale information.</p>
      </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag("corvette.jpg", alt: "Corvette") %>      
      </div>

      <div class="item">
        <%= image_tag("clutch.jpg", alt: "Clutch") %>
      </div>
    
      <div class="item">
        <%= image_tag("vdub.jpg", alt: "VDub Bus") %>
      </div>

      <div class="item">
        <%= image_tag("parts.jpg", alt: "Parts") %>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div>