<% provide(:title, "About") %>
<div class="container">
	<div class ="col-sm-4">
	<h1>About Lugnuts Auto Parts</h1>
	<h3>Mission Statement</h3>
	<p>Lugnuts Auto Parts, Central Ohio's largest independently owned auto parts business, inspires new auto hobbyists and car owners to share the enjoyment of home auto repairs.</p>
	<h3>About the Lugnuts Family</h3>
	<p>In 1968, Larry Lugnuts saw an opportunity to serve the Central Ohio region by providing automotive parts and supplies to the region.</p>
	<p>Today, The Lugnuts Auto Parts family has extended to service the entire country. This new national initiative was created by the new CEO of Lugnuts Parts and Larry’s own granddaughter, Peggy Lugnuts. Peggy brings a wealth of experience from other businesses and she strives to push Lugnuts Auto Parts into new service areas through technology and a passion for helping people maintain their cars and trucks.
	</p>
	</div>
	<div class ="col-sm-4">
		<%= image_tag("office.jpg", alt: "Lugnuts Headquarters in Columbus, Ohio") %>
	</div>
</div>