<% provide(:title, "Articles") %>
<div class="container">
	<h1>Articles</h1>
	<div class ="col-sm-6">
		<p><a href="http://www.ase.com/News-Events/Publications/Car-Care-Articles.aspx">Wondering How to Care for Your Car?</a> <i>Automotive Service Excellence</i></p>
		<p><a href="http://www.edmunds.com/car-care/how-old-and-dangerous-are-your-tires.html">How Old — and Dangerous — Are Your Tires?</a> <i>Edmunds</i></p>
	</div>
	<div class ="col-sm-6">
	<p><a href="http://www.consumer.ftc.gov/articles/0211-auto-repair-basics">Auto Repair Basics</a> <i>Federal Trade Commission</i></p>
	<p><a href="http://www.cars.com/auto-repair/expert-tips/__all__/">Expert Tips: All Articles</a> <i>Cars.com</i></p>
	</div>
</div>