<% provide(:title, "Contact") %>
<div class="container">
	<div class="col-sm-3">
	<h1>Lugnuts Auto Parts</h1>
		<p>555 Lugnuts Way</p>
		<p>Columbus, Ohio 43119</p>
		<p>614.555.5555</p>
		<p>lugnuts@lugnutsdotcom</p>
	</div>
	<div class="col-sm-6">
		<%= image_tag("write.jpg", alt: "Contact Us") %> 
	</div>
</div>