<% provide(:title, "Tips") %>
<div class="container">
<div class ="col-sm-4">
  <h1>Lugnuts Auto Parts Car Tips Page</h1>
  <p>On this page you will find various tips and videos that may help 
  	you install parts and perform  maintenence needed on your car. If 
  	you have any questions or would like to see future content here, 
  	please contact us. 
  </p>
</div>
</div>
