<div class="container">
	<h1>Add a new Product to the Lugnuts database</h1>
 	<div class="col-sm-4">
		<%= render 'form' %>

    <%= link_to 'Back to Product List', products_path %>
    </br><hr>
    </br>
  </div>
</div>