   <li class='dropdown btn btn-primary' id='admin-actions'>
            <a href='#' data-toggle='dropdown' class='dropdown-toggle', style='color:white'>Admin Actions</a>
            <ul class='dropdown-menu'  role='menu'>
                
                 <li style='display:block'><%= link_to 'View Orders',  orders_path %></li>
                <li><%= link_to "Add a Product", new_product_path %></li>
       </ul></li>